In [6]:
import pandas as pd
from datetime import datetime, date

In [27]:
df = pd.read_csv('../data/transactions.csv', parse_dates=['Date'])

In [28]:
df = df.loc[df['Date'] >= datetime(2022, 1, 1)]

In [29]:
df = df.set_index('Date')

In [26]:
monthly = round(df.resample('M')[['Amount']].sum())#.to_csv('static_data/monthly_spending.csv')
monthly['quartile'] = 'bottom'
monthly

             Amount quartile
Date
2020-01-31  31198.0   bottom
2020-02-29  26322.0   bottom
2020-03-31  21085.0   bottom
2020-04-30  19933.0   bottom
2020-05-31  19318.0   bottom
2020-06-30  14085.0   bottom
2020-07-31  12481.0   bottom
2020-08-31  18427.0   bottom
2020-09-30  24045.0   bottom
2020-10-31  25154.0   bottom
2020-11-30  22396.0   bottom
2020-12-31  20817.0   bottom
2021-01-31  19639.0   bottom
2021-02-28  21191.0   bottom
2021-03-31  20187.0   bottom
2021-04-30  25724.0   bottom
2021-05-31  19646.0   bottom
2021-06-30  23407.0   bottom
2021-07-31  17332.0   bottom
2021-08-31  28058.0   bottom
2021-09-30  29742.0   bottom
2021-10-31  51524.0   bottom
2021-11-30  20519.0   bottom

In [20]:
df

monthly_spending.csv*  static_files.ipynb*