In [6]:
import pandas as pd
from datetime import datetime, date

In [73]:
df = pd.read_csv('../data/transactions.csv', parse_dates=['Date'])

# df = process_data(df, pivot_dates=False)

categories = list(df.Category.unique())
income = ['Income', 'Paycheck', 'Transfer', 'Federal Tax', 'Taxes', 'Rental Income', 'Interest Income']
taxes = ['Federal Tax', 'Taxes']
internal_acc = ['Credit Card Payment', 'Transfer', 'Financial']
non_expense =  income + taxes + internal_acc
expenses = [i for i in categories if i not in non_expense]

df = df.loc[df['Category'].isin(expenses)]

In [74]:
df = df.loc[df['Date'] >= datetime(2021, 1, 1)]

In [75]:
df = df.set_index('Date')

In [76]:
monthly = round(df.resample('M')[['Amount']].sum())

In [77]:
monthly.index = monthly.index.month

In [78]:
monthly = monthly.reset_index()

In [79]:
monthly

    Date   Amount
0      1   5472.0
1      2   2977.0
2      3   5128.0
3      4   6525.0
4      5   5738.0
5      6   3087.0
6      7   5271.0
7      8   9708.0
8      9   9140.0
9     10  14771.0
10    11   4335.0
11    12    404.0

In [80]:
monthly.to_json('static_data/monthly_spending.json')